@font-face {
  font-family: Space-Grotesk;
  src: url(/fonts/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: Space-Grotesk-Bold;
  src: url(/fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
  font-family: Space-Grotesk-Medium;
  src: url(/fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: Space-Grotesk-Light;
  src: url(/fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: Space-Grotesk-Variable;
  src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
.wrapper {
  margin: 0 auto;
  width: 1440px;
}

body {
  font-family: Space-Grotesk;
}

.first_logo {
  width: 220px;
  height: 56px;
}

.main_navigation img {
  width: 220px;
  height: 56px;
}

.main_navigation {
  display: flex;
  padding: 60px 100px;
  box-sizing: border-box;
}

.main_navigation ul {
  display: flex;
  list-style: none;
  margin-left: 168px;
  font-size: 20px;
  line-height: 28px;
  gap: 40px;
  white-space: nowrap;
}

.request_nav {
  width: 232px;
  height: 68px;
  font-size: 20px;
  line-height: 28px;
  border: 1px solid black;
  border-radius: 14px;
  padding: 20px 35px;
  box-sizing: border-box;
  margin-left: 40px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.main_info {
  padding-left: 100px;
}

.info_nav {
  font-family: Space-Grotesk-Medium;
  width: 532px;
  height: 232px;
  font-size: 60px;
  line-height: 76px;
  font-weight: 100;
  margin-top: 6px;
}

.main_description {
  width: 498px;
  height: 112px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 400;
}

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 68px;
  margin-top: 30px;
  background-color: #191A23;
  border-radius: 20px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}

.main_wrapper {
  display: flex;
}

.illustration {
  width: 600px;
  height: 516px;
  margin-left: 106px;
  margin-top: 6px;
}

.company_logo {
  display: flex;
  gap: 96px;
  margin-top: 72px;
  padding-left: 100px;
  filter: grayscale(100%);
}

.services_info {
  display: flex;
  padding-left: 100px;
  margin-top: 98px;
  box-sizing: border-box;
}

.services_button {
  font-family: Space-Grotesk-Variable;
  font-size: 40px;
  background-color: #B9FF66;
  box-sizing: border-box;
  width: 178px;
  height: 52px;
  text-align: center;
  border-radius: 7px;
  font-weight: 500;
}

.services_descr {
  width: 580px;
  height: 46px;
  margin-top: 42px;
  margin-left: 40px;
  font-size: 18px;
}

.cards_section_first {
  display: flex;
  padding-left: 96px;
  padding-top: 40px;
  box-sizing: border-box;
}

.search_engine {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #F3F3F3;
}

.service-label {
  display: inline-block;
  background-color: #B9FF66;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
  margin-left: 48px;
  font-size: 30px;
  font-weight: bold;
}

.service-label:first-child {
  margin-top: 50px;
}

.learn_more_button {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 50px;
}

.learn_more_button img {
  margin-top: 22px;
  width: 42px;
  height: 42px;
}

.learn_more_button a {
  margin-top: 16px;
  margin-left: 14px;
  font-size: 20px;
}

.first_img_card {
  width: 210px;
  height: 170px;
  margin-left: 72px;
  margin-top: 68px;
}

.pay-per-click {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #B9FF66;
  margin-left: 40px;
}

.service-label-second {
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 7px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 48px;
  font-size: 30px;
  font-weight: bold;
}

.service-label-second:first-child {
  margin-top: 48px;
}

.cards_section_second {
  display: flex;
  margin-left: 96px;
  margin-top: 40px;
}

.social_media {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #191A23;
}

.service-label-third {
  display: block;
  background-color: #FFFFFF;
  padding: 7px 7px;
  border-radius: 7px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.service-label-third:first-child {
  margin-top: 50px;
}

.learn_more_button-gray {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 50px;
  color: #FFFFFF;
}

.learn_more_button-gray img {
  margin-top: 20px;
  width: 42px;
  height: 42px;
}

.learn_more_button-gray a {
  margin-top: 16px;
  margin-left: 14px;
  font-size: 20px;
}

.email_marketing {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #F3F3F3;
  margin-left: 40px;
}

.cards_section_third {
  display: flex;
  padding-top: 40px;
  padding-left: 56px;
}

.content_creation {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #B9FF66;
  margin-left: 40px;
}

.analytics_card {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #191A23;
  margin-left: 40px;
}

.funny_label {
  display: flex;
  width: 1260px;
  height: 348px;
  border-radius: 45px;
  margin-left: 100px;
  margin-top: 124px;
  background-color: #F3F3F3;
  position: relative;
}

.first_descr {
  display: flex;
  margin-top: 56px;
  margin-left: 58px;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
}

.second_descr {
  margin-top: 26px;
  margin-left: 58px;
  font-size: 18px;
  width: 500px;
}

.third_descr_btn {
  margin-top: 24px;
  margin-left: 60px;
  font-size: 20px;
  width: 218px;
  height: 28px;
  border-radius: 14px;
  background-color: #191A23;
  color: #FFFFFF;
  padding: 20px 35px;
}

.image_wrapper {
  position: relative;
}

.image_wrapper img {
  position: absolute;
  top: -30px;
  left: 186px;
  width: 360px;
  height: 394px;
}

.case_studies {
  display: flex;
  padding-top: 122px;
  padding-left: 100px;
  box-sizing: border-box;
}

.case_s {
  font-family: Space-Grotesk-Variable;
  width: 252px;
  height: 50px;
  background-color: #B9FF66;
  font-size: 40px;
  font-weight: 500;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
}

.case_descr {
  width: 580px;
  height: 46px;
  font-size: 18px;
  margin-top: 14px;
  margin-left: 36px;
}

.black_label {
  display: flex;
  width: 1234px;
  height: 326px;
  background-color: #191A23;
  border-radius: 45px;
  margin-top: 46px;
  margin-left: 100px;
  position: relative;
}

.first_block_info p {
  width: 286px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 0px;
}

.learn_more_button_green {
  margin-top: 14px;
  color: #B9FF66;
  font-size: 20px;
}

.first_block_info img {
  margin-top: 4px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
}

.first_block {
  margin: 72px 60px;
  width: 428px;
  height: 186px;
  border-right: 1px solid #F3F3F3;
  font-size: 18px;
}

.second_block {
  width: 436px;
  height: 186px;
  margin-top: 54px;
  font-size: 18px;
}

.second_block_info p {
  width: 286px;
  height: 116px;
  color: #FFFFFF;
}

.learn_more_button_green-2 {
  margin-top: 12 px;
  color: #B9FF66;
  font-size: 20px;
}

.learn_more_button_green-2 img {
  margin-top: 4px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.just_border {
  height: 186px;
  position: absolute;
  right: 410px;
  top: 72px;
  border: 1px solid #F3F3F3;
}

.third_block {
  margin: 54px 62px;
}

.third_block_info p {
  width: 286px;
  height: 138px;
  color: #FFFFFF;
  font-size: 18px;
}

.learn_more_button_green-3 {
  margin-top: 12 px;
  color: #B9FF66;
  font-size: 20px;
}

.learn_more_button_green-3 img {
  margin-top: 6px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.work_proc {
  display: flex;
  align-items: center;
  padding-top: 104px;
  padding-left: 96px;
}

.work_proc_btn {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 412px;
  height: 52px;
  font-size: 40px;
  background-color: #B9FF66;
  border-radius: 7px;
  padding-left: 7px;
}

.work_proc_descr {
  width: 292px;
  height: 50px;
  font-size: 18px;
  margin-left: 32px;
}

.beauty_labels {
  padding-top: 40px;
  padding-left: 100px;
}

.first_label {
  width: 1234px;
  height: 280px;
  background-color: #B9FF66;
  border: 1px solid #191A23;
  border-radius: 45px;
  box-sizing: border-box;
  padding: 40px 56px;
}

.first_label_descr {
  display: flex;
  width: 1114px;
  height: 104px;
  border-bottom: 1px solid #191A23;
}

.first_label span:first-child {
  font-size: 60px;
  font-weight: bold;
}

.some_text {
  font-size: 30px;
  margin-left: 26px;
  margin-top: 20px;
}

.first_label img {
  width: 58px;
  height: 58px;
  margin-top: 8px;
  margin-left: 784px;
}

.first_label_bottom p {
  padding-top: 12px;
  width: 1114px;
  height: 60px;
  font-size: 18px;
}

.another_label {
  box-sizing: border-box;
  width: 1234px;
  height: 160px;
  background-color: #F3F3F3;
  border: 1px solid #191A23;
  border-radius: 45px;
  margin-top: 30px;
  padding-left: 58px;
  padding-top: 36px;
}

.inside_sizing {
  display: flex;
  width: 1118px;
  height: 78px;
}

.label_number {
  font-size: 60px;
  font-weight: bold;
}

.image_label {
  width: 58px;
  height: 58px;
  margin-left: 426px;
  margin-top: 10px;
}

.image_label_03 {
  width: 58px;
  height: 58px;
  margin-left: 730px;
  margin-top: 8px;
}

.image_label_04 {
  width: 58px;
  height: 58px;
  margin-left: 544px;
  margin-top: 8px;
}

.image_label_05 {
  width: 58px;
  height: 58px;
  margin-left: 516px;
  margin-top: 8px;
}

.image_label_06 {
  width: 58px;
  height: 58px;
  margin-left: 622px;
  margin-top: 8px;
}

.team_label {
  display: flex;
  margin-top: 92px;
  margin-left: 96px;
}

.team_btn {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 116px;
  height: 52px;
  background-color: #B9FF66;
  font-size: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.team_descr {
  width: 474px;
  height: 46px;
  font-size: 18px;
  padding-top: 22px;
  margin-left: 40px;
}

.first_team_labels {
  display: flex;
  padding-top: 40px;
  padding-left: 96px;
}

.person_label {
  box-sizing: border-box;
  width: 388px;
  height: 332px;
  border: 1px solid #191A23;
  border-radius: 45px;
  background-color: #FFFFFF;
  padding-left: 35px;
  padding-top: 40px;
  padding-right: 35px;
}

.person_label img {
  width: 106px;
  height: 102px;
}

.text_info {
  padding-top: 52px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.text_info_for_brian {
  padding-top: 30px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.text_info_for_brian span:last-child {
  display: block;
  font-weight: lighter;
  font-size: 18px;
}

.text_info span:last-child {
  display: block;
  font-weight: lighter;
  font-size: 18px;
}

.first_row {
  display: flex;
  position: relative;
  height: 130px;
  border-bottom: 1px solid #191A23;
}

.john_descr {
  width: 316px;
  height: 68px;
  font-size: 18px;
  padding-top: 10px;
}

.jane_descr {
  width: 318px;
  height: 92px;
  font-size: 18px;
  padding-top: 10px;
}

.michael_descr {
  width: 318px;
  height: 92px;
  font-size: 18px;
  padding-top: 10px;
}

.person_label-second {
  box-sizing: border-box;
  width: 388px;
  height: 354px;
  border: 1px solid #191A23;
  border-radius: 45px;
  background-color: #FFFFFF;
  padding-left: 35px;
  padding-top: 40px;
  padding-right: 35px;
}

.second_team_labels {
  display: flex;
  padding-top: 40px;
  padding-left: 96px;
}

.emily_descr {
  width: 318px;
  height: 92px;
  font-size: 18px;
  padding-top: 10px;
}

.brian_descr {
  width: 318px;
  height: 116px;
  font-size: 18px;
  padding-top: 6px;
}

.sarah_descr {
  width: 318px;
  height: 116px;
  font-size: 18px;
  padding-top: 8px;
}

.all_team_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 68px;
  margin-top: 40px;
  margin-left: 1066px;
  background-color: #191A23;
  border-radius: 14px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}

.testim_label {
  display: flex;
  margin-top: 58px;
  margin-left: 96px;
}

.testim_btn {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 256px;
  height: 52px;
  background-color: #B9FF66;
  font-size: 40px;
  box-sizing: border-box;
  padding-bottom: 7px;
  padding-left: 7px;
  border-radius: 7px;
}

.bg_lab {
  display: flex;
  width: 1240px;
  height: 626px;
  background-color: #191A23;
  border-radius: 45px;
  margin-top: 40px;
  margin-left: 96px;
  position: relative;
}

.green_descr {
  display: block;
  position: relative;
  width: 606px;
  height: 280px;
  color: #FFFFFF;
  margin-left: 310px;
  margin-top: 80px;
  border: 2px solid #B9FF66;
  border-radius: 45px;
  background-color: #191A23;
}

.green_descr p {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 28px;
  padding-bottom: 52px;
  box-sizing: border-box;
}

.green_descr::after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 13%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-top: 38px solid #191A23;
  z-index: 1;
}

.green_descr::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 13%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-top: 40px solid #B9FF66;
  z-index: 0;
}

.green_undertxt pre:first-child {
  color: #B9FF66;
  margin-left: 80px;
  margin-top: 58px;
  font-size: 20px;
}

.green_undertxt pre:last-child {
  font-size: 18px;
  margin-left: 80px;
}

.descr_img {
  width: 564px;
  height: 30px;
  padding-left: 20px;
  padding-top: 40px;
}

.contact_label {
  display: flex;
  margin-top: 100px;
  margin-left: 96px;
}

.contact_button {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 216px;
  height: 52px;
  background-color: #B9FF66;
  font-size: 40px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
}

.contact_descr {
  width: 324px;
  height: 46px;
  font-size: 18px;
  margin-left: 38px;
  align-self: center;
  margin-bottom: 12px;
}

.contact_bg {
  width: 1240px;
  height: 774px;
  background-color: #F3F3F3;
  margin-top: 32px;
  margin-left: 96px;
  border-radius: 45px;
}

.buttons_descr {
  font-size: 18px;
}

.contact_blocks {
  display: flex;
}

.first_contact_block {
  width: 556px;
  height: 634px;
  padding-left: 100px;
  padding-top: 60px;
}

.circle_button {
  display: flex;
  width: 276px;
  height: 28px;
}

.circle_button span {
  font-size: 18px;
  margin-left: 14px;
  white-space: nowrap;
  margin-top: 6px;
}

.first_input_label {
  margin-top: 38px;
}

.first_button_label {
  width: 556px;
  height: 68px;
  background-color: #191A23;
  border-radius: 14px;
  margin-top: 36px;
}

.first_button_label a p {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 208px;
  padding-top: 20px;
}

.img_block img {
  margin-left: 218px;
  margin-top: 62px;
}

.last_section {
  width: 1242px;
  height: 514px;
  margin-left: 96px;
  margin-top: 144px;
  background-color: #191A23;
  border-radius: 45px;
}

.last_navigation {
  width: 1122px;
  height: 30px;
  display: flex;
  padding-left: 50px;
  padding-top: 56px;
  align-items: center;
}

.last_navigation ul {
  width: 500px;
  height: 24px;
  display: flex;
  list-style: none;
  margin-left: 120px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  gap: 40px;
  white-space: nowrap;
}

.last_contact {
  display: flex;
  width: 1120px;
  height: 186px;
  margin-top: 44px;
  margin-left: 60px;
}

.first_last_contact {
  width: 400px;
  height: 210px;
}

.first_last_contact p:first-child {
  width: 126px;
  height: 26px;
  border-radius: 7px;
  font-size: 20px;
  text-align: center;
  background-color: #B9FF66;
}

.second_p {
  width: 228px;
  height: 24px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 28px;
}

.third_p {
  width: 186px;
  height: 24px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
}

.fourth_p {
  width: 294px;
  height: 46px;
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.first_last_contact pre {
  width: 332px;
  height: 46px;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 20px;
}

.second_last_contact {
  display: flex;
  width: 634px;
  height: 184px;
  background-color: #292A32;
  margin-top: 20px;
  margin-left: 154px;
  border-radius: 14px;
  padding: 60px 40px;
  box-sizing: border-box;
}

.second_last_contact input {
  width: 286px;
  height: 68px;
  background-color: #292A32;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
  padding-left: 36px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 18px;
}

.second_last_contact a {
  width: 250px;
  height: 68px;
  margin-left: 20px;
  background-color: #B9FF66;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.last_descr {
  width: 1120px;
  height: 78px;
  border-top: 1px solid #FFFFFF;
  margin-top: 68px;
  margin-left: 60px;
  position: relative;
}

.last_descr span {
  box-sizing: border-box;
  position: absolute;
  padding-top: 52px;
  color: #FFFFFF;
  font-size: 18px;
}

.last_descr a {
  box-sizing: border-box;
  position: absolute;
  padding-top: 52px;
  padding-left: 364px;
  color: #FFFFFF;
  font-size: 18px;
}

.last_logo {
  width: 180px;
  height: 30px;
  margin-left: 6px;
}/*# sourceMappingURL=style.css.map */