@font-face {
  font-family: Space-Grotesk;
  src: url(/fonts/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: Space-Grotesk-Bold;
  src: url(/fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
  font-family: Space-Grotesk-Medium;
  src: url(/fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: Space-Grotesk-Light;
  src: url(/fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: Space-Grotesk-Variable;
  src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
}

body {
  font-family: Space-Grotesk;
}

.first_logo {
  width: 220px;
  height: 56px;
}

.main_navigation img {
  width: 220px;
  height: 56px;
}

.main_navigation {
  display: flex;
  padding: 60px 100px;
  box-sizing: border-box;
}

.main_navigation ul {
  display: flex;
  list-style: none;
  margin-left: 168px;
  font-size: 20px;
  line-height: 28px;
  gap: 40px;
  white-space: nowrap;
}

.request_nav {
  width: 232px;
  height: 68px;
  font-size: 20px;
  line-height: 28px;
  border: 1px solid black;
  border-radius: 14px;
  padding: 20px 35px;
  box-sizing: border-box;
  margin-left: 40px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.main_info {
  padding-left: 100px;
}

.info_nav {
  font-family: Space-Grotesk-Medium;
  width: 532px;
  height: 232px;
  font-size: 60px;
  line-height: 76px;
  font-weight: 100;
  margin-top: 6px;
}

.main_description {
  width: 498px;
  height: 112px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 400;
}

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 68px;
  margin-top: 30px;
  background-color: #191A23;
  border-radius: 20px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}

.main_wrapper {
  display: flex;
}

.illustration_png {
  width: 600px;
  height: 516px;
  margin-left: 106px;
  margin-top: 6px;
}

.company_logo {
  display: flex;
  gap: 96px;
  margin-top: 72px;
  padding-left: 100px;
  filter: grayscale(100%);
}

.services_info {
  display: flex;
  padding-left: 100px;
  margin-top: 98px;
  box-sizing: border-box;
}

.services_button {
  font-family: Space-Grotesk-Variable;
  font-size: 40px;
  background-color: #B9FF66;
  box-sizing: border-box;
  width: 178px;
  height: 52px;
  text-align: center;
  border-radius: 7px;
  font-weight: 500;
}

.services_descr {
  width: 580px;
  height: 46px;
  margin-top: 42px;
  margin-left: 40px;
  font-size: 18px;
}

.cards_section_first {
  display: flex;
  padding-left: 96px;
  padding-top: 40px;
  box-sizing: border-box;
}

.search_engine {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #F3F3F3;
  box-sizing: border-box;
}

.service-label {
  display: inline-block;
  background-color: #B9FF66;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
  margin-left: 48px;
  font-size: 30px;
  font-weight: bold;
}

.service-label:first-child {
  margin-top: 50px;
}

.learn_more_button {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 50px;
}

.learn_more_button img {
  margin-top: 22px;
  width: 42px;
  height: 42px;
}

.learn_more_button a {
  margin-top: 16px;
  margin-left: 14px;
  font-size: 20px;
}

.first_img_card {
  width: 210px;
  height: 170px;
  margin-left: 72px;
  margin-top: 68px;
}

.pay-per-click {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #B9FF66;
  margin-left: 40px;
}

.service-label-second {
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 7px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 48px;
  font-size: 30px;
  font-weight: bold;
}

.service-label-second:first-child {
  margin-top: 48px;
}

.second_img_card {
  width: 210px;
  height: 150px;
  margin-top: 78px;
  margin-left: 82px;
}

.cards_section_second {
  display: flex;
  margin-left: 96px;
  margin-top: 40px;
}

.social_media {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #191A23;
}

.service-label-third {
  display: block;
  background-color: #FFFFFF;
  padding: 7px 7px;
  border-radius: 7px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.service-label-third:first-child {
  margin-top: 50px;
}

.learn_more_button-gray {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 50px;
  color: #FFFFFF;
}

.learn_more_button-gray img {
  margin-top: 20px;
  width: 42px;
  height: 42px;
}

.learn_more_button-gray a {
  margin-top: 16px;
  margin-left: 14px;
  font-size: 20px;
}

.third_img_card {
  width: 210px;
  height: 210px;
  margin-top: 50px;
  margin-right: 50px;
}

.email_marketing {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #F3F3F3;
  margin-left: 40px;
}

.fourth_img_card {
  width: 210px;
  height: 192px;
  margin-left: 126px;
  margin-top: 58px;
}

.cards_section_third {
  display: flex;
  margin-top: 40px;
  margin-left: 96px;
}

.content_creation {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #B9FF66;
}

.fifth_img_card {
  width: 210px;
  height: 196px;
  margin-left: 126px;
  margin-top: 58px;
}

.analytics_card {
  display: flex;
  width: 600px;
  height: 310px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #191A23;
  margin-left: 40px;
}

.sixth_card_img {
  width: 210px;
  height: 170px;
  margin-top: 70px;
  margin-right: 50px;
}

.funny_label {
  display: flex;
  width: 1260px;
  height: 348px;
  border-radius: 45px;
  margin-left: 100px;
  margin-top: 124px;
  background-color: #F3F3F3;
  position: relative;
}

.first_descr {
  display: flex;
  margin-top: 56px;
  margin-left: 58px;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
}

.second_descr {
  margin-top: 26px;
  margin-left: 58px;
  font-size: 18px;
  width: 500px;
}

.third_descr_btn {
  margin-top: 24px;
  margin-left: 60px;
  font-size: 20px;
  width: 288px;
  height: 68px;
  border-radius: 14px;
  background-color: #191A23;
  color: #FFFFFF;
  padding: 20px 35px;
  box-sizing: border-box;
}

.image_wrapper {
  position: relative;
}

.image_wrapper img {
  position: absolute;
  top: -30px;
  left: 186px;
  width: 360px;
  height: 394px;
}

.case_studies {
  display: flex;
  padding-top: 122px;
  padding-left: 100px;
  box-sizing: border-box;
}

.case_s {
  font-family: Space-Grotesk-Variable;
  width: 252px;
  height: 50px;
  background-color: #B9FF66;
  font-size: 40px;
  font-weight: 500;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
}

.case_descr {
  width: 580px;
  height: 46px;
  font-size: 18px;
  margin-top: 14px;
  margin-left: 36px;
}

.black_label {
  display: flex;
  width: 1234px;
  height: 326px;
  background-color: #191A23;
  border-radius: 45px;
  margin-top: 46px;
  margin-left: 100px;
  position: relative;
}

.first_block_info p {
  width: 286px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 0px;
}

.learn_more_button_green {
  margin-top: 14px;
  color: #B9FF66;
  font-size: 20px;
}

.first_block_info img {
  margin-top: 4px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
}

.first_block {
  margin: 72px 60px;
  width: 428px;
  height: 186px;
  border-right: 1px solid #F3F3F3;
  font-size: 18px;
}

.second_block {
  width: 436px;
  height: 186px;
  margin-top: 54px;
  font-size: 18px;
}

.second_block_info p {
  width: 286px;
  height: 116px;
  color: #FFFFFF;
}

.learn_more_button_green-2 {
  margin-top: 12 px;
  color: #B9FF66;
  font-size: 20px;
}

.learn_more_button_green-2 img {
  margin-top: 4px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.just_border {
  height: 186px;
  position: absolute;
  right: 410px;
  top: 72px;
  border: 1px solid #F3F3F3;
}

.third_block {
  margin: 54px 62px;
}

.third_block_info p {
  width: 286px;
  height: 138px;
  color: #FFFFFF;
  font-size: 18px;
}

.learn_more_button_green-3 {
  margin-top: 12 px;
  color: #B9FF66;
  font-size: 20px;
}

.learn_more_button_green-3 img {
  margin-top: 6px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.work_proc {
  display: flex;
  align-items: center;
  padding-top: 104px;
  padding-left: 96px;
}

.work_proc_btn {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 412px;
  height: 52px;
  font-size: 40px;
  background-color: #B9FF66;
  border-radius: 7px;
  padding-left: 7px;
}

.work_proc_descr {
  width: 292px;
  height: 50px;
  font-size: 18px;
  margin-left: 32px;
}

.beauty_labels {
  padding-top: 40px;
  padding-left: 100px;
}

.first_label {
  width: 1234px;
  height: 280px;
  background-color: #B9FF66;
  border: 1px solid #191A23;
  border-radius: 45px;
  box-sizing: border-box;
  padding: 40px 56px;
}

.first_label_descr {
  display: flex;
  width: 1114px;
  height: 104px;
  border-bottom: 1px solid #191A23;
}

.first_label span:first-child {
  font-size: 60px;
  font-weight: bold;
}

.some_text {
  font-size: 30px;
  margin-left: 26px;
  margin-top: 20px;
}

.first_label img {
  width: 58px;
  height: 58px;
  margin-top: 8px;
  margin-left: 784px;
}

.first_label_bottom p {
  padding-top: 12px;
  width: 1114px;
  height: 60px;
  font-size: 18px;
}

.another_label {
  box-sizing: border-box;
  width: 1234px;
  height: 160px;
  background-color: #F3F3F3;
  border: 1px solid #191A23;
  border-radius: 45px;
  margin-top: 30px;
  padding-left: 58px;
  padding-top: 36px;
}

.inside_sizing {
  display: flex;
  width: 1118px;
  height: 78px;
}

.label_number {
  font-size: 60px;
  font-weight: bold;
}

.image_label {
  width: 58px;
  height: 58px;
  margin-left: 426px;
  margin-top: 10px;
}

.image_label_03 {
  width: 58px;
  height: 58px;
  margin-left: 730px;
  margin-top: 8px;
}

.image_label_04 {
  width: 58px;
  height: 58px;
  margin-left: 544px;
  margin-top: 8px;
}

.image_label_05 {
  width: 58px;
  height: 58px;
  margin-left: 516px;
  margin-top: 8px;
}

.image_label_06 {
  width: 58px;
  height: 58px;
  margin-left: 622px;
  margin-top: 8px;
}

.team_label {
  display: flex;
  margin-top: 92px;
  margin-left: 96px;
}

.team_btn {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 116px;
  height: 52px;
  background-color: #B9FF66;
  font-size: 40px;
  border-radius: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  box-sizing: border-box;
}

.team_descr {
  width: 474px;
  height: 46px;
  font-size: 18px;
  padding-top: 22px;
  margin-left: 40px;
  box-sizing: border-box;
}

.first_team_labels {
  display: flex;
  padding-top: 40px;
  padding-left: 96px;
  box-sizing: border-box;
}

.person_label {
  box-sizing: border-box;
  width: 388px;
  height: 332px;
  border: 1px solid #191A23;
  border-radius: 45px;
  background-color: #FFFFFF;
  padding-left: 35px;
  padding-top: 40px;
  padding-right: 35px;
  margin-left: 40px;
}

.person_label img {
  width: 106px;
  height: 102px;
}

.text_info {
  padding-top: 52px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.text_info_for_brian {
  padding-top: 30px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.text_info_for_brian span:last-child {
  display: block;
  font-weight: lighter;
  font-size: 18px;
}

.text_info span:last-child {
  display: block;
  font-weight: lighter;
  font-size: 18px;
}

.first_row {
  display: flex;
  position: relative;
  height: 130px;
  border-bottom: 1px solid #191A23;
}

.john_descr {
  width: 316px;
  height: 68px;
  font-size: 18px;
  padding-top: 10px;
}

.jane_descr {
  width: 318px;
  height: 92px;
  font-size: 18px;
  padding-top: 10px;
}

.michael_descr {
  width: 318px;
  height: 92px;
  font-size: 18px;
  padding-top: 10px;
}

.person_label-second {
  box-sizing: border-box;
  width: 388px;
  height: 354px;
  border: 1px solid #191A23;
  border-radius: 45px;
  background-color: #FFFFFF;
  padding-left: 35px;
  padding-top: 40px;
  padding-right: 35px;
  margin-left: 40px;
}

.second_team_labels {
  display: flex;
  padding-top: 40px;
  padding-left: 96px;
}

.emily_descr {
  width: 318px;
  height: 92px;
  font-size: 18px;
  padding-top: 10px;
}

.brian_descr {
  width: 318px;
  height: 116px;
  font-size: 18px;
  padding-top: 6px;
}

.sarah_descr {
  width: 318px;
  height: 116px;
  font-size: 18px;
  padding-top: 8px;
}

.all_team_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 68px;
  margin-top: 40px;
  margin-left: 1066px;
  background-color: #191A23;
  border-radius: 14px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}

.testim_label {
  display: flex;
  margin-top: 58px;
  margin-left: 96px;
}

.testim_btn {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 256px;
  height: 52px;
  background-color: #B9FF66;
  font-size: 40px;
  box-sizing: border-box;
  padding-bottom: 7px;
  padding-left: 7px;
  border-radius: 7px;
}

.bg_lab {
  display: flex;
  width: 1240px;
  height: 626px;
  background-color: #191A23;
  border-radius: 45px;
  margin-top: 40px;
  margin-left: 96px;
  position: relative;
}

.green_descr {
  display: block;
  position: relative;
  width: 606px;
  height: 280px;
  color: #FFFFFF;
  margin-left: 310px;
  margin-top: 80px;
  border: 2px solid #B9FF66;
  border-radius: 45px;
  background-color: #191A23;
}

.green_descr p {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 28px;
  padding-bottom: 52px;
  box-sizing: border-box;
}

.green_descr::after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 13%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-top: 38px solid #191A23;
  z-index: 1;
}

.green_descr::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 13%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-top: 40px solid #B9FF66;
  z-index: 0;
}

.green_undertxt pre:first-child {
  color: #B9FF66;
  margin-left: 80px;
  margin-top: 58px;
  font-size: 20px;
}

.green_undertxt pre:last-child {
  font-size: 18px;
  margin-left: 80px;
}

.descr_img {
  width: 564px;
  height: 30px;
  padding-left: 20px;
  padding-top: 40px;
}

.contact_label {
  display: flex;
  margin-top: 100px;
  margin-left: 96px;
}

.contact_button {
  font-family: Space-Grotesk-Variable;
  font-weight: 500;
  width: 216px;
  height: 52px;
  background-color: #B9FF66;
  font-size: 40px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
}

.contact_descr {
  width: 324px;
  height: 46px;
  font-size: 18px;
  margin-left: 38px;
  align-self: center;
  margin-bottom: 12px;
}

.contact_bg {
  width: 1240px;
  height: 774px;
  background-color: #F3F3F3;
  margin-top: 32px;
  margin-left: 96px;
  border-radius: 45px;
}

.buttons_descr {
  font-size: 18px;
}

.contact_blocks {
  display: flex;
}

.first_contact_block {
  width: 556px;
  height: 634px;
  padding-left: 100px;
  padding-top: 60px;
}

.circle_button {
  display: flex;
  width: 276px;
  height: 28px;
}

.circle_button span {
  font-size: 18px;
  margin-left: 14px;
  white-space: nowrap;
  margin-top: 6px;
}

.first_input_label {
  margin-top: 38px;
}

.first_input_placeholder {
  width: 520px;
  height: 60px;
  padding-left: 30px;
  border: 1px solid black;
  border-radius: 14px;
  font-size: 18px;
}

.second_input_placeholder {
  width: 520px;
  height: 54px;
  padding-left: 30px;
  border: 1px solid black;
  border-radius: 14px;
  font-size: 18px;
}

.third_input_placeholder {
  width: 520px;
  height: 190px;
  padding-left: 30px;
  border: 1px solid black;
  border-radius: 14px;
  font-size: 18px;
}

.first_button_label {
  width: 556px;
  height: 68px;
  background-color: #191A23;
  border-radius: 14px;
  margin-top: 36px;
}

.first_button_label a p {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 208px;
  padding-top: 20px;
}

.img_block img {
  margin-left: 218px;
  margin-top: 62px;
}

.last_section {
  width: 1242px;
  height: 514px;
  margin-left: 96px;
  margin-top: 144px;
  background-color: #191A23;
  border-radius: 45px;
}

.last_navigation {
  width: 1122px;
  height: 30px;
  display: flex;
  padding-left: 50px;
  padding-top: 56px;
  align-items: center;
}

.last_navigation ul {
  width: 500px;
  height: 24px;
  display: flex;
  list-style: none;
  margin-left: 120px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  gap: 40px;
  white-space: nowrap;
}

.last_contact {
  display: flex;
  width: 1120px;
  height: 186px;
  margin-top: 44px;
  margin-left: 60px;
}

.first_last_contact {
  width: 400px;
  height: 210px;
}

.first_last_contact p:first-child {
  width: 126px;
  height: 26px;
  border-radius: 7px;
  font-size: 20px;
  text-align: center;
  background-color: #B9FF66;
}

.second_p {
  width: 228px;
  height: 24px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 28px;
}

.third_p {
  width: 186px;
  height: 24px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
}

.fourth_p {
  width: 294px;
  height: 46px;
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.first_last_contact pre {
  width: 332px;
  height: 46px;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 20px;
}

.second_last_contact {
  display: flex;
  width: 634px;
  height: 184px;
  background-color: #292A32;
  margin-top: 20px;
  margin-left: 154px;
  border-radius: 14px;
  padding: 60px 40px;
  box-sizing: border-box;
}

.second_last_contact input {
  width: 286px;
  height: 68px;
  background-color: #292A32;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
  padding-left: 36px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 18px;
}

.second_last_contact a {
  width: 250px;
  height: 68px;
  margin-left: 20px;
  background-color: #B9FF66;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.last_descr {
  width: 1120px;
  height: 78px;
  border-top: 1px solid #FFFFFF;
  margin-top: 68px;
  margin-left: 60px;
  position: relative;
}

.last_descr span {
  box-sizing: border-box;
  position: absolute;
  padding-top: 52px;
  color: #FFFFFF;
  font-size: 18px;
}

.last_descr a {
  box-sizing: border-box;
  position: absolute;
  padding-top: 52px;
  padding-left: 364px;
  color: #FFFFFF;
  font-size: 18px;
}

.last_logo {
  width: 180px;
  height: 30px;
  margin-left: 6px;
}

@media (max-width: 430px) {
  .main_navigation ul {
    display: none;
  }
  .request_nav {
    display: none;
  }
  .main_navigation {
    padding-left: 0px;
  }
  .main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .main_info {
    padding-left: 0px;
  }
  .info_nav {
    width: 430px;
    height: 165px;
    font-size: 43px;
    line-height: 54px;
  }
  .main_description {
    width: 390px;
    height: 96px;
    font-size: 16px;
    line-height: 24px;
  }
  .booking {
    margin-top: 60px;
    width: 390px;
  }
  .illustration {
    margin-top: 50px;
  }
  .illustration_png {
    margin-left: 0px;
    width: 362px;
    height: 310px;
  }
  .company_logo {
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
  }
  .services_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
  }
  .services_button {
    width: 162px;
    height: 46px;
    font-size: 36px;
    font-weight: 500;
  }
  .services_descr {
    width: 390px;
    height: 72px;
    font-size: 16px;
    text-align: center;
    margin: 0px 30px;
  }
  .cards_section_first {
    flex-direction: column;
    padding-left: 0px;
  }
  .search_engine {
    display: flex;
    width: 390px;
    height: 322px;
  }
  .service-label {
    display: inline-block;
    font-size: 26px;
    text-align: center;
  }
  .service-label:first-child {
    width: 194px;
    height: 33px;
  }
  .learn_more_button a {
    display: none;
  }
  .first_img_card {
    width: 164px;
    height: 130px;
    margin-left: 0px;
  }
  .pay-per-click {
    margin: 30px 0px;
    width: 390px;
    height: 322px;
  }
  .service-label-second:first-child {
    height: 33px;
    width: 183px;
    font-size: 26px;
    text-align: center;
  }
  .service-label-second:last-child {
    width: 156px;
    height: 33px;
    font-size: 26px;
    text-align: center;
  }
  .second_img_card {
    margin-left: 0px;
    margin-top: 130px;
  }
  .cards_section_second {
    margin: 30px 0px;
    flex-direction: column;
  }
  .social_media {
    width: 390px;
    height: 322px;
    margin: 30px 0px;
  }
  .learn_more_button-gray a {
    display: none;
  }
  .social_media .service-label-second:first-child {
    width: 172px;
    height: 32px;
  }
  .social_media .service-label-second:last-child {
    width: 142px;
    height: 32px;
  }
  .third_img_card {
    margin-top: 80px;
  }
  .email_marketing {
    width: 390px;
    height: 336px;
    margin: 30px 0px;
  }
  .email_marketing .service-label:first-child {
    width: 80px;
    height: 32px;
    font-size: 26px;
  }
  .email_marketing .service-label:last-child {
    width: 142px;
    height: 32px;
    font-size: 26px;
  }
  .fourth_img_card {
    margin-left: 0px;
    margin-top: 70px;
  }
  .cards_section_third {
    margin: 30px 0px;
    flex-direction: column;
  }
  .content_creation {
    width: 390px;
    height: 336px;
    margin: 0px 0px;
  }
  .content_creation .service-label-second:first-child {
    width: 118px;
    height: 32px;
    font-size: 26px;
    text-align: center;
  }
  .content_creation .service-label-second:last-child {
    width: 122px;
    height: 32px;
    font-size: 26px;
  }
  .fifth_img_card {
    margin-left: 0px;
    margin-top: 100px;
  }
  .analytics_card {
    width: 390px;
    height: 336px;
    margin: 30px 0px;
  }
  .analytics_card .service-label:first-child {
    width: 186px;
    height: 32px;
    font-size: 26px;
  }
  .analytics_card .service-label:last-child {
    width: 120px;
    height: 32px;
    font-size: 26px;
  }
  .sixth_card_img {
    margin-left: 0px;
    margin-top: 100px;
  }
  .funny_label {
    margin-left: 0px;
    margin-top: 70px;
    width: 390px;
    height: 370px;
  }
  .first_descr {
    width: 290px;
    height: 66px;
    font-size: 26px;
    line-height: 34px;
  }
  .second_descr {
    width: 290px;
    height: 96px;
    font-size: 16px;
    line-height: 24px;
  }
  .third_descr_btn {
    width: 290px;
    height: 68px;
  }
  .image_wrapper {
    display: none;
  }
  .case_studies {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
    margin-top: 0px;
  }
  .case_s {
    width: 240px;
    height: 46px;
    font-size: 36px;
    margin-top: 0px;
    text-align: center;
  }
  .case_descr {
    width: 390px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .black_label {
    width: 370px;
    height: 252px;
    margin-left: 0px;
    box-sizing: border-box;
  }
  .first_block {
    border-right: none;
    margin: 42px 50px;
  }
  .first_block_info p {
    width: 250px;
    height: 120px;
    font-size: 16px;
    line-height: 24px;
  }
  .second_block {
    display: none;
  }
  .learn_more_button_green-2 {
    display: none;
  }
  .third_block {
    display: none;
  }
  .learn_more_button_green-3 {
    display: none;
  }
  .work_proc {
    padding: 0px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .work_proc_btn {
    width: 226px;
    height: 98px;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
  }
  .work_proc_descr {
    width: 390px;
    height: 48px;
    text-align: center;
    margin-left: 0px;
    font-size: 16px;
  }
  .beauty_labels {
    padding-left: 0px;
    padding-top: 30px;
  }
  .first_label {
    width: 392px;
    height: 98px;
    background-color: #F3F3F3;
    padding: 0px 0px;
    box-sizing: border-box;
  }
  .first_label span:first-child {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    padding: 30px 30px;
  }
  .some_text {
    width: 206px;
    height: 46px;
    line-height: 22px;
    font-size: 18px;
    padding-top: 16px;
    padding-left: 0px;
  }
  .first_label_bottom {
    display: none;
  }
  .first_label_descr {
    border-bottom: none;
  }
  .first_label img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 34px;
  }
  .another_label {
    width: 392px;
    height: 106px;
    padding: 0px 0px;
    box-sizing: border-box;
  }
  .label_number {
    width: 38px;
    height: 38px;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 30px;
  }
  .image_label {
    width: 30px;
    height: 30px;
    margin-top: 38px;
    margin-left: 10px;
  }
  .image_label_03 {
    width: 30px;
    height: 30px;
    margin-top: 38px;
    margin-left: 4px;
  }
  .image_label_04 {
    width: 30px;
    height: 30px;
    margin-top: 38px;
    margin-left: 4px;
  }
  .image_label_05 {
    width: 30px;
    height: 30px;
    margin-top: 38px;
    margin-left: 4px;
  }
  .image_label_06 {
    width: 30px;
    height: 30px;
    margin-top: 38px;
    margin-left: 8px;
  }
  .team_label {
    margin-top: 60px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .team_btn {
    width: 106px;
    height: 46px;
    font-size: 36px;
  }
  .team_descr {
    width: 390px;
    height: 48px;
    font-size: 16px;
    margin-left: 0px;
    padding-top: 0px;
    text-align: center;
  }
  .first_team_labels {
    padding-left: 0px;
    flex-direction: column;
  }
  .person_label {
    margin-left: 0px;
    margin-top: 30px;
  }
  .second_team_labels {
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .person_label-second {
    margin-left: 0px;
    margin-top: 30px;
  }
  .all_team_button {
    margin-left: 50px;
  }
  .testim_label {
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
    margin-top: 60px;
  }
  .testim_btn {
    width: 232px;
    height: 46px;
    font-size: 36px;
  }
  .bg_lab {
    margin-left: 0px;
    width: 390px;
    height: 554px;
  }
  .green_descr {
    width: 330px;
    height: 326px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .green_descr::before {
    display: none;
  }
  .green_descr::after {
    display: none;
  }
  .green_descr p {
    font-size: 16px;
    padding-top: 30px;
    padding: 30px 30px;
    padding-bottom: 50px;
    box-sizing: border-box;
    line-height: 24px;
  }
  .green_undertxt pre:first-child {
    margin-left: 20px;
    font-size: 18px;
    margin-top: 44px;
  }
  .green_undertxt pre:last-child {
    font-size: 18px;
    margin-left: 20px;
  }
  .descr_img {
    width: 330px;
    height: 14px;
    padding-left: 4px;
    padding-top: 20px;
  }
  .contact_label {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 60px;
  }
  .contact_button {
    width: 208px;
    height: 46px;
    font-size: 36px;
    text-align: center;
  }
  .contact_descr {
    width: 390px;
    height: 48px;
    font-size: 16px;
    text-align: center;
  }
  .img_block {
    display: none;
  }
  .contact_bg {
    margin-top: 40px;
    margin-left: 0px;
    width: 390px;
    height: 540px;
  }
  .first_contact_block {
    width: 390px;
    height: 396px;
    padding-left: 0px;
    padding-top: 0px;
  }
  .circle_button {
    width: 286px;
    height: 28px;
    padding-left: 52px;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .circle_button span {
    font-size: 16px;
  }
  .first_input_label {
    margin-left: 30px;
  }
  .first_input_placeholder {
    width: 300px;
    height: 60px;
  }
  .second_input_placeholder {
    width: 300px;
    height: 60px;
  }
  .third_input_placeholder {
    width: 300px;
    height: 132px;
  }
  .first_button_label {
    width: 390px;
    height: 68px;
    margin-top: 76px;
  }
  .first_button_label a p {
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 0px;
    text-align: center;
  }
  .last_section {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */